/* 73_example_html_tables/asset/css/style.css */

/* semantic block */
body{
  font-family: Roboto, Arial;
  margin: 15px 20%;
  padding: 0;
  background-color: whitesmoke;
  margin-bottom: 20%;
}


/* element block */
mark {
    background-color: rgb(230, 242, 247);
    color: black;
  }

 /* classe per tabelle con CSS */
.table2 table {
    width: 100%;
    border-collapse: collapse; /* Elimina lo spazio tra i bordi delle celle */
  }
  
.table2  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
.table2  tr:nth-child(even) {
    background-color: #f2f2f2; /* Colore di sfondo per le righe pari */
  }
.table2  th {
    background-color: #4CAF50;
    color: white;
  }

  

.table1 table {
  width: 100%;
  border-collapse: collapse;
}

.table1 th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.table1 tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table1 th {
  background-color: #4c8baf;
  color: white;
}
@media screen and (max-width: 600px)  {
    table {
    width: 100%;
    display: block;
    overflow-x: auto; /* Aggiunge uno scorrimento orizzontale */
  }
}
